<footer>
  <nav>
    <ul>
      <div class="list">
        <li>
          <a href="/home"
            ><i class="fa-solid fa-house" style="color: #020c1d"></i
          ></a>
        </li>
        <p>home</p>
      </div>

      <div class="list">
        <li>
          <a href="/categories"
            ><i class="fa-solid fa-layer-group" style="color: #040e1f"></i
          ></a>
        </li>
        <p>categories</p>
      </div>

      <div class="list">
        <li>
          <a href="/targets"
            ><i class="fa-regular fa-circle-dot" style="color: #010813"></i
          ></a>
        </li>
        <p>targets</p>
      </div>

      <div class="list">
        <li>
          <a href="/reports"
            ><i class="fa-solid fa-chart-simple" style="color: #020a18"></i
          ></a>
        </li>
        <p>reports</p>
      </div>

      <div class="list">
        <li>
          <a href="/profile"
            ><i class="fa-solid fa-user" style="color: #020c1d"></i
          ></a>
        </li>
        <p>profile</p>
      </div>
    </ul>
  </nav>

  <style>
    footer nav{
        background-color: bisque;
        padding: 5px;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 200px;
    }
  </style>
</footer>
