<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <!-- <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <% if (user && user.isLoggedIn) { %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
    </nav> -->
    <nav>
        <aside>
            <ul>
                <li><a href="/home"><i class="fa-solid fa-house" style="color: #020c1d;"></i></a></li>
                <li><a href="/categories"><i class="fa-solid fa-layer-group" style="color: #040e1f;"></i></a></li>
                <li><a href="/targets"><i class="fa-regular fa-circle-dot" style="color: #010813;"></i></a></li>
                <li><a href="/reports"><i class="fa-solid fa-chart-simple" style="color: #020a18;"></i></a></li>
                <li><a href="/profile"><i class="fa-solid fa-user" style="color: #020c1d;"></i></a></li>
            </ul>
        </aside>

    </nav>
   

    
</body>
</html>

  

  