<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <h1>this is categories page</h1>
    <h1>income</h1>
    <h2>expenses</h2>
    <h3>bills and utilities</h3>
    <h4>budget</h4>
    <h5>debt and loans</h5>
    <h6>saving</h6>

    
</body>
</html>