<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faqs</title>
</head>
<body>
    <h1> Frequently Asked Questions (FAQs)</h1>
    <p> <b>1. How do I set up an account?</b><br>
        To create an account, download the SpendWise app and select “Sign Up.” Enter your email address, create a secure password, and follow any verification prompts. Once verified, you can start tracking your finances and setting goals!<br>
        <b>2. Is my financial data secure?</b><br>
        Absolutely. SpendWise takes data security seriously. We use industry-standard encryption to protect your financial information, and we follow strict privacy policies to ensure your data remains confidential. For more information, check out our [Privacy Policy].<br>
        <b>3. Can I use SpendWise for free?</b><br>
        Yes! SpendWise offers a free version with essential features to help you track expenses, create budgets, and set savings goals. For additional features like personalized financial insights, in-depth reports, and premium support, you may choose to upgrade to our paid plan.<br>
        <b>How do I set a financial goal?</b> <br>
        Setting a goal is easy: Go to the “Goals” section, choose “Add New Goal,” and name your goal (e.g., “Bora Bora Vacation”). Set your target amount and deadline, and SpendWise will help track your progress as you save towards it. You can also adjust the goal at any time to keep it updated.<br>
        <b>5. How do I reset my password?</b><br>
        If you forget your password, select “Forgot Password” on the login screen. Enter the email associated with your account, and we’ll send you a reset link. Follow the instructions in the email to set a new password and regain access to your account.<br>
        <b>Can I delete my account?</b> <br>
        Yes, you can permanently delete your account. Go to “Account Settings,” select “Delete Account,” and follow the confirmation prompts. Please note that this action is irreversible, and all data will be permanently removed. There may be a waiting period of up to 24 hours to process account deletion.</p>
     
    
</body>
</html>