<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <h1>date and day api</h1>
    <button class="home-btn" id="home-btn"><a href="">today's expenses</a></button>
    <h2>edit expense</h2>
    <h1>total of todays expense to be shown here</h1>
    
    <div class="target">
        <div class="mytarget">
          <h3>my targets</h3>
          <div class="targets">
               <p>this space highlights the different targets to be achieved and it should be viewable at the first page when you open your app they should also be clickable to allow editing and they should also be in a pie chart to show how much has been saved and how much remaining so far</p>
            </div>
       </div>
       <div class="addnewtarget">
            <h3>+ add new target<h3>
        </div>

    </div>

    <div class="recent-transaction">
        <h1>Recent Transactions</h1>
        <p>this space is supposed to be occupied by the recent expenses edited for example that of yesterday and is supposed to be on the first page too </p>
    </div>
   
    
    
</body>
</html>