<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <h1>this is home page</h1>
    
    <h1>date and day api</h1>

    <h1><a href="">New Expences</a></h1>
    <h1>calender api</h1>
    <h2>edit expenses</h2>
    <h2>total expense to be shown</h2>

    <div class="edit-expenditure">
        <h1>Edit expenditure</h1>
        <p>this space has an edit button to be clicked in order to add the expenditure by the end of the day</p>
        <p>total expenditure for today</p>

    </div>
    <div class="target">
        <div class="mytarget">
          <h3>my targets</h3>
          <div class="targets">
               <h1>this space highlights the different targets to be achieved and it should be viewable at the first page when you open your app</h1>
            </div>
       </div>
       <div class="addnewtarget">
            <h3>+ add new target<h3>
        </div>

    </div>

    <div class="recent-transaction">
        <h1>Recent Transactions</h1>
        <p>this space is supposed to be occupied by the recent expenses edited for example that of yesterday and is supposed to be on the first page too </p>
    </div>
   
    
    
</body>
</html>