<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpendWise</title>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
</head>
<body>
    <main class="opening-page">
        <div class="welcome" id="welcome">
            <h1>best way to <br> tracking your money.</h1>
            <h2>track and control <br>what you spend your <br> money on.</h2>
            <a href="/signin">get stated</a>

        </div>

    </main>

    
    
</body>
</html>