<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>terms of service</title>
  </head>
  <body>
    <h1>Terms of Service</h1>

    <h2>Last Updated:Nov 11th, 2024</h2>

    <h3>
      <b>Welcome to SpendWise!</b><br />
      SpendWise is a personal finance tool designed to help users track
      expenses, set savings goals, manage budgets, and monitor financial
      progress. By using SpendWise, you agree to comply with and be bound by
      these Terms of Service. Please read them carefully.
    </h3>

    <h4>1. Acceptance of Terms</h4>
    <p>
      By downloading or using the App, you agree to these Terms of Service and
      any updates we may provide. If you do not agree to these terms, please
      refrain from using SpendWise.
    </p>

    <h4>2. User Responsibilities</h4>
    <p>
      Accurate Information: You agree to provide true, accurate, and complete
      information during registration and when updating your account.
    </p>
    <h4>3. Personal Use Only:</h4>
    <p>
      SpendWise is for personal, non-commercial use. You may not use it for
      business purposes or share your account with others.
    </p>
    <h4>4. Account Security:</h4>
    <p>
      You are responsible for maintaining the confidentiality of your account
      and password and agree to notify us immediately of any unauthorized access
      to your account.
    </p>
    <h4>5. Subscription and Payment Terms</h4>
    <p>
      SpendWise may offer free and paid features. If you choose a paid
      subscription, you agree to pay the fees associated with it, and all
      payments are non-refundable except as required by law. Cancellation: You
      may cancel your subscription at any time, but you will continue to have
      access to paid features until the end of your billing period.
    </p>
    <h4>6. Intellectual Property</h4>
    <p>
      SpendWise owns all rights to the App’s design, content, and branding. You
      may not copy, modify, or distribute any content from the App without our
      prior written consent.
    </p>
    <h4>7. Data Privacy and Security</h4>
    <p>
      We are committed to protecting your data. Please review our Privacy Policy
      for information on how we collect, use, and safeguard your data.
    </p>
    <h4>8. Third-Party Links:</h4>
    <p>
      SpendWise may contain links to third-party websites or services. We are
      not responsible for the content or privacy practices of these sites.
    </p>
    <h4>9. Limitation of Liability</h4>
    <p>
      SpendWise provides financial tracking tools but does not guarantee
      specific financial outcomes. You acknowledge that any financial decisions
      made based on insights from the App are your sole responsibility.
      Disclaimer: The App is provided on an "as-is" and "as-available" basis. We
      do not guarantee that the App will be error-free or available at all
      times.
    </p>
    <h4>10. Termination of Account</h4>
    <p>
      SpendWise reserves the right to suspend or terminate your account at our
      discretion, including but not limited to violations of these Terms or
      suspected fraudulent activity. If terminated, your access to any paid
      features will also end.
    </p>
    <h4>11. Changes to Terms of Service</h4>
    <p>
      SpendWise may update these Terms of Service from time to time. We will
      notify users of major updates, but it is your responsibility to review the
      Terms periodically.
    </p>
    <h5>Contact Us</h5>
    <p>
      If you have any questions or concerns regarding these Terms, please
      contact us at<br />
      estherojul53@gmail.com.
    </p>
  </body>
</html>
